@import '../../../public/styles';

._container {
  display: flex;
  align-items: center;
}

._numberContainer {
  padding: 0 22px;
}

._number {
  font-size: 16px;
  font-family: $helveticaNowTextBold;
  font-weight: 200;
  cursor: pointer;
}
