@import '../../../public/styles/index.scss';

 ._main {
  height: 80vh;
  width: 100%;
  /* background-image: url('../../../public/images/backgrounds/first-section.png'); */
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  background-color: black;
}

._container {
  height: 75vh;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

._centerContainer {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  color: $aquaHaze;
}

._titleContainer {
  width: 80%;
}

._title {
  font-size: 3.3rem;
  font-family: $helveticaNowText;
  font-weight: 700;
}

._descriptionContainer  {
  width: 90%;
}

._description {
  font-size: 1.5rem;
  font-family: $helveticaNowText;
}

._searchContainer {
  background-color: $aquaHaze;
  border-radius: 50px;
  min-height: 12%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

._searchBuild {
  position: relative;

  & > div {
    position: absolute;
    left: 50%;

    & > div {
      position: relative;
      right: 50%;
    }
  }
}

._searchContent {
  display:flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

._searchTitle {
  color: $blueRibbon;
  font-weight: 600;
  font-family: $helveticaNowText;
  margin: 0;
  font-size: 0.9rem;
}

._selects {
  color: $nepal;
  font-weight: 600;
  font-family: $helveticaNowText;
  background-color: transparent;
  border: none;
}

._input {
  border:none;
  border-bottom: 1px solid $nepal;
  color: $bombay;
  background-color: transparent;
  font-weight: 600;
  font-family: $helveticaNowText;

}

._input:focus {
  outline:none;
}

._blueButtom {
  background-color: $blueRibbon;
  border-radius: 30px;
  color: $aquaHaze;
  height: 4%;
  width: 60%;
  border: 0;
  padding: 10%;
}

._selectsContainer {
  display: block;
  width:20%;
  border-right:1px solid $nepal
}

._inputContainer {
  width:20%;
  margin-left: 20px;
  margin-right: 20px;
}

._buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  min-width: 20%;
}

._blackfloor {
  width: 100%;
  height: 20vh;
  background-color: $mineShaft;
  display: flex;
}

._content {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;

  & * {
    font-family: $helveticaNowText;
    color: $white;
  }

  & p {
    font-size: 20px;
  }
}

._yourResultContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 50%;
  height: 100%;
  padding-right: 8px;

  & > div {
    background-color: $white;
    width: 140px;
    height: 5px;
    margin-top: 10px;
  }
}

._keywordContainer {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;

  & > p {
    margin-bottom: 14px;
  }
}
