@import '../../../public/styles/index.scss';

 ._main{
  height: 80vh;
  width: 100%;
  /* background-image: url('../../../public/images/backgrounds/first-section.png'); */
  background-size: cover;
  background-repeat: no-repeat;
  display:'flex';
  flex-direction:'column';
  position: relative;

}


._container {
  height: 75vh;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

._centerContainer{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  color: $aquaHaze;
}

._titleContainer{
  width: 80%;
}

._title{
  font-size: 3.3rem;
  font-family: $helveticaNowText;
  font-weight: 700;
}

._descriptionContainer{
  width: 90%;
}

._description{
  font-size: 1.5rem;
  font-family: $helveticaNowText;
}

._searchContainer{
  background-color: $aquaHaze;
  border-radius: 50px;
  min-height: 12%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  transform: translate(50%, -60px);
  z-index: 2;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}



._searchContent{
  display:flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

._searchTitle{
  color: $blueRibbon;
  font-weight: 600;
  font-family: $helveticaNowText;
  margin: 0;
  font-size: 0.9rem;
}

._selects{
  color: $nepal;
  font-weight: 600;
  font-family: $helveticaNowText;
  background-color: transparent;
  border: none;
}

._input{
  border:none;
  border-bottom: 1px solid $nepal;
  color: $bombay;
  background-color: transparent;
  font-weight: 600;
  font-family: $helveticaNowText;
}

._input:focus{
  outline:none;
}

._blueButtom{
  background-color: $blueRibbon;
  border-radius: 30px;
  color: $aquaHaze;
  height: 4%;
  width: 60%;
  border: 0;
  padding: 10%;
}

._radioContainer{
  width: 4%;
  margin-left: 2%;
}

._selectsContainer{
  display: block;
  width:20%;
  border-right:1px solid $nepal
}

._inputContainer{
  width:20%;
  margin-left: 20px;
  margin-right: 20px;
}

._buttonContainer{
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  min-width: 20%;
}

._blackfloor{
  width: 100%;
  height: 15vh;
  position: relative;
  background-color: $mineShaft;
  display: flex;
  justify-content: center;
  z-index: 1;
}

@keyframes MoveUpDownCoins {
  from { transform: translateY(0px)}
  to { transform:translateY(-20 px)}
}

@mixin floating ($transformY, $time) {
  transform: translatey($transformY);
  animation: MoveUpDownCoins $time alternate infinite;
}

._coins{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: -40px;
}

.coinposition:hover, .coinposition2:hover, .coinposition3:hover, .coinposition4:hover , .coinposition5:hover, .coinposition6:hover, .coinposition7:hover, .coinposition8:hover, .coinposition9:hover  {
  @include floating (-20px, 1s);
}

._coin{
  width: 20%;
}

.coinposition{
  animation: MoveUpDownCoins 1s alternate infinite
}

.coinposition2{
  animation: MoveUpDownCoins 1s alternate infinite
}

.coinposition3{
  animation: MoveUpDownCoins 1s alternate infinite
}

.coinposition4{
  animation: MoveUpDownCoins 1s alternate infinite
}

.coinposition5{
  animation: MoveUpDownCoins 1s alternate infinite
}

.coinposition6{
  animation: MoveUpDownCoins 1s alternate infinite
}

.coinposition7{
  animation: MoveUpDownCoins 1s alternate infinite
}

.coinposition8{
  animation: MoveUpDownCoins 1s alternate infinite
}

.coinposition9{
  animation: MoveUpDownCoins 1s alternate infinite
}





