@import '../../../public/styles/index.scss';

._card {
  border: solid 2px $blueRibbon;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

._minicard {
  width: 100%;
  background-color: $gallery;
  border-radius: 35px;
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 1.5rem;
  align-items: center;
  box-sizing: border-box;
}

._title {
  font-family: $helveticaNowText;
  color: $tuna;
  font-weight: bold;
  font-size: 0.9rem;
}

._text {
  font-family: $helveticaNowText;
  color: $tundora;
  font-size: 0.75rem;
}

._imageParent {
  padding: 1rem 1rem 0rem 1.5rem;
  margin-top: 0.5rem;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
  height: 6rem;
}

._statusText {
  color: $apple;
  font-family: $helveticaNowText;
  font-weight: 500;
  margin-right: 0.4rem;
  font-size: 0.85rem;
}

._closedText {
  color: $alizarinCrimson;
  font-family: $helveticaNowText;
  font-weight: 500;
  margin-right: 0.4rem;
  font-size: 0.85rem;
}

._rightText {
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

._leftCard {
  display: flex;
  margin-top: 1rem;
  align-items: center;
  justify-content: flex-start;
}

._infoParentBlack {
  display: flex;
  margin: 1.5rem 1rem 0 1rem;
  align-items: center;
  justify-content: space-between;
  height: 70px;

  ._call {
    background-color: $mineShaft;
    width: 35%;
    text-align: center;
  }
}

._call {
  background-color: $blueRibbon;
  font-family: $helveticaNowText;
  font-weight: 600;
  padding: 0.8rem 1.3rem;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 0.9rem;
  color: $white;
}

._longAddress {
  color: $blueRibbon;
  font-family: 'Helvetica-Now-Text';
  font-size: 14px;
  width: 60%;
}

._location {
  font-family: $helveticaNowText;
  color: $gray;
  font-weight: 500;
  font-size: 0.8rem;
  margin-left: 1rem;
  display: flex;
  align-items: center;

  & p {
    margin-right: 0.2rem
  }
}
