@import '../../../public/styles/index.scss';

._container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

._links {
  display: flex;
  align-items: center;
}

._leftSection {
  display: flex;
  align-items: center;
  flex-direction: row;
}

._textLink {
  font-family: $helveticaNowTextBold;
  color: $aquaHaze;
  font-size: 0.9rem;
  display: table-cell;
  padding-left: 3.8rem;
  cursor: pointer;
}

._btnParent {
  display: flex;
  align-items: center;
}

._btnLink {
  font-family: $helveticaNowTextBold;
  background-color:$aquaHaze;
  color: $mineShaft;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid $aquaHaze;
  transition: 0.6s;
  margin-left: 3.8rem;
  font-size: 0.8rem;

  &:hover {
    background: $blueRibbon;
    color: $aquaHaze;
    transition: all 0.6s;
  }
}

._rightText {
  display: flex;
  align-items: center;
  height: 100%;
}

._countriesSelect {
  color: $aquaHaze;
  font-family: $helveticaNowTextBold;
  margin-right: 0.3rem;
  background-color: transparent;
  border: none;
  font-size: 1rem;
  font-size: 0.9rem;
  cursor: pointer;

  & option {
    color: $mineShaft;
  }
}

._logo {
  cursor: pointer;
}
