._container {
  display: flex;
  flex-direction: column;
}

._fixedArea {
  height: 700px;
  // background-color: red;
}

._cardContainer {
  padding: 0 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  grid-auto-rows: minmax(100px, auto);
}

._paginationContainer {
  display: flex;
  height: 10vh;
  justify-content: center;
  align-items: flex-end;
}

._cardElement0 {
  grid-column: 1;
  grid-row: 1;
}

._cardElement1 {
  grid-column: 2;
  grid-row: 1;
}

._cardElement2 {
  grid-column: 1;
  grid-row: 2;
}

._cardElement3 {
  grid-column: 2;
  grid-row: 2;
}

._cardElement4 {
  grid-column: 1;
  grid-row: 3;
}

._cardElement5 {
  grid-column: 2;
  grid-row: 3;
}
