
$apple:        #429532;
$gray:         #828282;
$chambray:     #3D549E;
$tuna:         #34363D;
$aquaHaze:     #EFF4F6;
$shark:        #1F2023;
$salem:        #0A8754;
$wedgewood:    #508CA4;
$nepal:        #91AEC1;
$geyser:       #D3DEE5;
$royalBlue:    #5153F7;
$gallery:      #EBEBEB;
$osloGray:     #95989A;
$tara:         #CDF1D6;
$statusOpen:   #4A973C;
$aquaHaze:     #EFF4F6;
