$apple:           #429532;
$blueRibbon:      #1652F0;
$spray:           #69F4F0;
$alizarinCrimson: #EC3333;
$aquaHaze:        #EFF4F6;
$mineShaft:       #353535;
$gallery:         #EBEBEB;
$white:           #FFFFFF;
$osloGray:        #97999B;
$bombay:          #AEB0B5;
$nepal:           #91AEC1;
$gray:            #828282;
$tuna:            #34363D;
$tundora:         #414141;
$doveGray:        #707070;
$tara:            #CDF1D6;
$AquaHaze:        #EFF4F6;
$dustyGray:       rgba(148, 148, 148, 0.4);
$whiteOpacity:    rgba(255, 255, 255, 0.5);
$manatee:         #93959A;
$darkGrayOpacity: rgba(0, 0, 0, 0.9);
