._container {
  height: 90vh;
  width: 100%;
  background-image: url('../../public/images/backgrounds/banner.jpg');
  background-size: cover;
 /*  background-position: center top; */
  background-repeat: no-repeat;
  background-size: 1600px 800px;
};
