@import '../../../public/styles/index.scss';

._general {
  background-color: $mineShaft;
  width: 100%;
  padding: 4rem 0rem;
  box-sizing: border-box;
}

._content {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

._socialMedia {
  display: flex;
}

._link {
  width: 40%;
}

._linkTwo, ._linkThree {
  margin-left: 5rem;
}

._title {
  font-family: $helveticaNowTextBold;
  color: $white;
  margin-bottom: 1.6rem;
  font-size: 0.9rem;
}

._text {
  font-family: $helveticaNowText;
  color: $white;
  font-size: 0.9rem;
}

._logos {
  display: flex;
}


._logo {
  margin-right: 2rem;
}
