@import "../../../public/styles/index.scss";

._searchContent {
    display: flex;
    width: fit-content;
    border-radius: 100px;
    padding: 0.4rem 1rem;
    padding-right: 0.5rem;
    background: $aquaHaze;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    z-index: 2;
}

._selectContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1.3rem;
    &::after {
        width: 2px;
        height: 35px;
        background: $nepal;
        content: " ";
        border-radius: 50px;
    }
}


._radioContainer {
  width: 20px;
  height: 20px;
}



._select {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: flex-start;
    padding-right: 3rem;
    label {

      font-weight: 600;
      font-family: $helveticaNowTextBold;
      font-size: 0.875rem;
      line-height: 1.5;
    }
    select {
        background: none;
        border: none;
        font-family: $helveticaNowText;
        color: $nepal;
        font-weight: 500;
        font-size: 0.9rem;
        appearance: none;
        width: 100%;
        line-height: 1.5;
        font-size: 0.8rem;
    }
}

._dropdown {
  width:10px;
  margin-left: 10px;
}



._inputContainer {
    display: flex;
    height: 100%;
    align-items: center;
    input {
        background: none;
        border: none;
        font-family: $helveticaNowText;
        color: $bombay;
        font-weight: 500;
        font-size: 0.9rem;
        appearance: none;
        width: 100%;
        height: auto;
        border-bottom: 1px solid $nepal;
        padding-bottom: 0.5rem;
        margin-right: 1rem;
        margin-top: 5px;
        &::placeholder  {
            color: $bombay;
        }
    }
}

._goButton {
    height: 90%;
    width: 7.7rem;
    border-radius: 36px;
    border: none;
    color: $aquaHaze;
    background: $blueRibbon;
    font-size: 1rem;
    font-family: $helveticaNowText;
    cursor: pointer;
}
