@import '../../../public/styles/index.scss';

._cardsContainer {
  background-color: #353535;
  padding: 5% 10% 0 10%;
}

._cards {
  display: flex;
  flex-wrap: wrap;
}

._cardContent {
  background-color: #EBEBEB;
  cursor: pointer;
  margin: 0 2% 3%;
  height: max-content;
  padding: 1.5% 6% 1.5% 1.5%;
  border-radius: 15px;
  width: 29%;

  ._text {
    text-transform: capitalize;
  }
}

._searchContainer {
  margin: 2%;
}

._moreInfoContainer {
  padding: 3% 10%;
  margin: 0 2%;
  display: flex;
  justify-content: space-between;

  iframe {
    border: initial;
    border-radius: 15px;
    width: 400px;
    height: 400px;
  }
}

._leftInfo {
  width: 50%;
}
