@import "../../../public/styles/index.scss";

._currenciesContent {
  width: fit-content;
  height: fit-content;
  position: relative;

  ._currenciesCard {
    width: 270px;
    justify-content: flex-start;
    background: $mineShaft;
    border-radius: 20px;
    padding: 0px;
    box-shadow: 6px 5px 4px 0px #0000003b;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    top: -50px;
    right: -30px;
  }

  ._visible {
    visibility: visible;
    opacity: 1;
    position: relative;
    top: 0px;
    right: 0px;
    width: 100%;
    background: $gallery;
    box-shadow: none;
  }

  &:hover {
    ._currenciesCard {
      visibility: visible;
      opacity: 1;
    }
  }
  ._tooltip {
    position: relative;
    ._tooltiptext {
      visibility: hidden;
      width: 120px;
      background-color: #555;
      color: #fff;
      text-align: center;
      padding: 5px 0;
      border-radius: 6px;
      position: absolute;
      font-size: 0.8rem;
      font-family: $helveticaNowText;
      z-index: 1;
      opacity: 0;
      transition: opacity 0.3s;
    }

    &:hover {
      ._tooltiptext {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  ._coinBox {
    width: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $mineShaft;
    font-size: 0.8rem;
    font-family: $helveticaNowText;
  }
}
