@import '../../../public/styles/index.scss';

._content {
  width: 70%;

  & * {
    font-family: $helveticaNowText;
  }

  & p {
    font-size: 20px;
  }
}

._leftColumn {
  height: 100%;
  padding-left: 10%;

  &__resize {
    height: 100%;
    width: 54%;
  }
}

._imageContainer {
  display: flex;
  height: 30%;
  align-items: flex-end
}

._textContainer {
  display: flex;
  height: 80%;
  padding-top: 5%;
}
