@import '../../../public/styles/index.scss';

._sliderParent {
  overflow-y: hidden;
  scrollbar-width: none;
  position: relative;

  &::-webkit-scrollbar {
    display: none;
  }
}

._sliderChild {
  width: 300%;
  // overflow: hidden;
  display: flex;
  position: relative;
}

._stepper {
  width: 300px;
  position: absolute;
  bottom: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

._circle {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: $dustyGray;

  &:nth-child(1), &:nth-child(2)  {
    margin-right: 1rem;
  }
}

._steps {
  display: flex;
  flex-direction: row;
}

._container {
  margin: 0px;
  padding: 0px;
}
