@import '../../../public/styles/index.scss';

@mixin points($background){
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: $background;

  &:nth-child(1), &:nth-child(2)  {
    margin-right: 1rem;
  }
}

._sliderParent {
  overflow-y: hidden;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

._sliderChild {
  width: 300%;
  display: flex;
}

._stepper {
  width: 100%;
  position: absolute;
  bottom: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

._circle {
  @include points($dustyGray);
}

._currentCircle {
  @include points($whiteOpacity);
}

._steps {
  display: flex;
  flex-direction: row;
}

._container {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

._divImage {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 75vh;
  padding: 0px 10%;
}

._textParent {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

._textChild {
  width: 100%;
}

._wpContent {
  & * {
    font-family: $helveticaNowText;
  }

  & p {
    font-size: 1.3rem;
  }
}

._parent {
  position: relative;
  height: auto;
}
